@media screen and (min-width:471px) and (max-width:510px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .counter-nat {
        min-height: 140vh;
        width: 100%;
        top: 0;
        left: 0;
        position: relative;

    }



    .genrte-stroke {
        display: none;
    }

    .cursor {
        display: none;
    }

    .navbar ul {
        display: none;
    }

    .botm-stroke {
        display: none;

    }

    .right-stroke {
        display: none;
    }

    .left-stroke .arrowimg {

        transform: scale(-1);
        transform: rotateZ(350deg);
        cursor: pointer;
        width: 30vw;
        position: relative;
        top: 10vw;
        min-height: 2vw;
        display: none;

    }

    .project,
    .hellprob {
        display: none;
    }

    /* display none catogeroies |< */


    .logo-stroke h3 {
        font-size: 5vw;
        top: 5vw;
        left: 18vw;
        border: 2px solid rgba(225, 225, 225, .2);
        /* border: 1px solid #fff; */
        padding: 2vw 15vw 2vw 15vw;
        border-radius: 8vw;
        filter: blur(1px);

    }




    .loaderhover p {

        font-size: 7vw;
        margin: 15vw 0vw 0vw -14vw;


    }


    .zetguides1 {
        color: #956AFA;
    }


    .wordsmaker {
        font-size: 6vw;
        height: 10vw;
        margin: 31vw 0vw 0vw -55vw;
        /* top: 1vw; */
        position: relative;
        top: -5vw;
    }



    .learnwith30 {

        font-size: 4.7vw;
        margin: 10vw 0vw 0vw 0vw;
        width: 81vw;
        position: relative;
        top: 120vw;
        left: 10vw;
        visibility: hidden;

    }

    .button-wrapper .hover-button {

        font-size: 2.7vw;
        padding: 4vw;
        top: 4vw;
        left: 10vw;

    }

    .arrowsvgmate img {

        width: 30vw;
        transform: rotateZ(110deg);
        margin: 5vw 0vw 0vw 60vw;
        position: relative;
        top: 15vw;

    }


    .left-stroke .left-p {

        font-size: 6.5vw;
        line-height: 9vw;
        text-align: center;
        position: relative;
        top: -5vw;
        display: none;

    }

    .left-stroke .crew {

        font-size: 3.3vw;
        width: 87vw;
        position: absolute;
        top: 140vw;
        line-height: 9vw;
        text-align: center;
        /* display: none; */
        left: 5vw;

    }

    .dotstrokemate {

        font-size: 11vw;
        margin: -47vw 0vw 0vw 6vw;

    }

    .dotstrokemate p {
        font-size: 3vw;
        position: relative;
        top: 30vw;
        left: 7vw;
        color: #fff;
    }

    .video-stroke video {

        width: 75vw;
        height: 42vw;
        border-radius: 2vw;
        margin: 23vw 0vw 0vw 3vw;
        position: relative;
        top: -25vw;

    }


    /* frst page over  */


    /* second page marquiee */

    .marquee {
        display: none;
    }


    /* third page  */

    .cardosection {
        margin: 90vw 0vw 0vw 0vw;
        top: 10vw;
        position: relative;
        min-height: 280vh;
    }

    .rightsect {
        flex-direction: column-reverse;
        /* border-color: transparent; */
        border-radius: 3vw;
    }

    #svgdarley {
        height: 210px;
        width: 350px;
        margin: 0vw 0vw 0vw 25vw;
    }

    .gridvid video {

        width: 70vw;
        margin: 0vw 0vw 0vw 15vw;
        border-radius: 2vw;

    }

    .leftsect {
        flex-direction: column-reverse;
    }

    .terminalsect .card-new .wrap-new {
        width: 80vw;
    }

    .terminalsect {
        width: 0vw;
        height: 0vw;
        background-color: transparent;
        border: transparent;

    }

    .card-new {
        min-width: 91vw;
        border-radius: 2vw;
        margin: 175vw 0vw 0vw 3vw;
    }

    .blogsect {
        border-radius: 3vw;

    }

    .blogstarts {
        min-height: 215vw;
        border: 2vw;
    }

    .bloglogo img {
        width: 8vw;
        margin: 4vw 0vw 0vw 3vw;
        align-items: center;
    }

    .bloglogo p {
        font-size: 5vw;
    }

    .post p {
        height: 140vw;
        width: 90vw;
        margin: 0vw 0vw 0vw 2vw;
    }

    .post h3 {
        font-size: 6vw;
        color: #9b59b6;


    }

    /* design page  */


    .designcta h2 {
        font-size: 13vw;
        -webkit-text-stroke: .5vw #47375C;
        /* -webkit-text-stroke: .3vw white; */
        margin: 0vw 0vw 10vw 0vw;

    }

    .designtext p {
        font-size: 6vw;
    }


    #main {
        margin: 10vw 0vw 50vw 0vw;
    }

    #main input {
        max-width: 90vw;
    }

    .figmashorts1 {
        margin: 70vw 0vw 0vw -22vw;
        min-width: 30vw;
        height: 30vw;
    }

    .figmashorts {
        margin: 150vw 0vw 0vw 5vw;
        min-width: 30vw;
        height: 30vw;
    }



    #cardser {
        list-style: none;
        padding-left: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 30vh);
        gap: 4vw;
        padding-bottom: calc(4 * 1.5em);
        margin-bottom: 4vw;


    }

    #cardser .card-body img {
        width: 95vw;
        border-radius: 1vw;
        cursor: pointer;
        margin: 0vw 0vw 0vw -2vw;
    }

    .streakclass h1 {
        font-size: 15vw;
        -webkit-text-stroke: .3vw #46365A;
        margin: 30vw 0vw 0vw 0vw;
    }

    .custom-btn {
        padding: 0vw 10vw;
        font-size: 4vw;
        left: 10vw;

        margin: -40vw 0vw 0vw 0vw;
    }

}